<!-- <ion-app> -->
  <ion-tabs id="menu">  
    <ion-tab-bar slot="bottom">
      <!-- Chat -->
      <ion-tab-button (click)="goMensajes()">
        <ion-icon name="chatbubble"></ion-icon>Mensajes
      </ion-tab-button>
      <!-- Gente -->
      <ion-tab-button  (click)="goHome()">
        <ion-icon name="people-circle-outline"></ion-icon>Gente
      </ion-tab-button>
      <!-- Perfil -->
      <ion-tab-button  (click)="goPerfil()">
        <ion-icon name="person-circle-outline"></ion-icon>Perfil
      </ion-tab-button>
      <!-- Cerrar Sesión -->
      <ion-tab-button  (click)="goExit()">
        <ion-icon name="exit"></ion-icon>Cerrar sesión
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
<!-- </ion-app> -->

