#menu{
    // z-index: 1;
    // position: sticky;
    // bottom: 0;
    // background-color: red;
}

#menu{
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: calc(100vh - 50px);
    width: 100%;
    height: 50px;
}
ion-tab-bar{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border: solid 2px #0d3877;
    border-bottom: 0;
}

ion-tab-button{
    color: #8db6f5;
    background-color: #05142b;
}