<ion-content>
  <div class="container">

    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">

      <h1 class="login">Inicio Sesión</h1>
      <div class="input-field">
        <input formControlName="email"  type="text" required spellcheck="false">
        <label>Usuario o Correo electrónico</label>
      </div>
      <div class="input-field">
        <input formControlName="password"  type="password" required spellcheck="false">
        <label>Contraseña</label>
      </div>
      <div class="link-simple">
        <a [routerLink]="['/forgotten-pswd']">¿Olvidaste tu contraseña?</a>
      </div>
      <button type="submit" class="btn btn-duoc3">Iniciar sesión</button>
    </form>

    <div class="link-simple sin-cuenta">
      No tienes una cuenta?
      <a [routerLink]="['/sign-up']">Registrate</a>
    </div>

  </div>
</ion-content>