<ion-content>
  <div class="container">
    <p class="login">Recupera tu cuenta</p>
    <p class="sub-texto">Ingresa tu Usuario o Correo electrónico para buscar tu cuenta.</p>
    <div class="input-field">
      <input type="text" required spellcheck="false">
      <label>Usuario o Correo electrónico</label>
    </div>
    <div class="buttons-groups">
      <button [routerLink]="['/sign-in']" class="btn btn-duoc1">Cancelar</button>
      <button  class="btn btn-duoc3">Buscar</button>
    </div>
  </div>
</ion-content>

