.container{
  position: absolute;
  top:0;
  height: calc(100vh - 60px) ;
  left: 2.5%;
  right: 2.5%;
  text-align: center;
}
.camera-edit{
  margin: auto;
  margin-top: -35px;
}


.imagen-avatar{
  margin: auto;
  width: 200px;
  height: 200px;
}
.imagen{
  object-fit: cover;
  border-radius: 100%;
  border: solid 2px #d1971b;
  width: 200px;
  height: 200px;
}

.buttons-groups{
  margin-top: 10px;
  display: flex;
}
.buttons-groups .btn{
  margin-inline: 5px;
}