<!-- Imagenes agregadas a la galeria -->
<ion-content>
  <div class="container">
    <div class="profile-info">
      <ion-grid>
        <ion-row>
          <ion-avatar class="imagen-avatar">
            <ion-col class="div-imagen">
              <img class="imagen" alt="Fotografía de perfil"
                [src]="photoService.photos.length > 0 ? photoService.photos[0].WebViewPath : 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
            </ion-col>
          </ion-avatar>
        </ion-row>
      </ion-grid>
      <ion-fab-button class="camera-edit" (click)="addPhotoToGallery()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
      <!-- <u class="usuario">bapg</u> -->
      <form [formGroup]="formGroup" (ngSubmit)="updateUser()">

        <div class="container-input">
          <div class="input-field">
            <input formControlName="user" type="text" required spellcheck="false" [(ngModel)]="user">
            <label>usuario</label>
          </div>
          <!-- <p class="nombre">Benjamin Gonzalez</p> -->
          <div class="input-field">
            <input formControlName="name" type="text" required spellcheck="false" value="Benjamin Gonzalez">
            <label>nombre</label>
          </div>
          <div class="input-field">
            <input formControlName="age" type="number" required spellcheck="false" value="24">
            <label>edad</label>
          </div>
          <!-- <p class="descripcion">Hola mi nombre es benjamin soy un estudiante de el instituto duoc uc que esta cursando la carrera de ingenieria en informatica. Voy ya en mi segundo año y estoy interesado por la ciberseguridad. </p> -->
          <div class="input-field">
            <textarea formControlName="description" required spellcheck="false"
              rows="6">Hola mi nombre es benjamin soy un estudiante de el instituto duoc uc que esta cursando la carrera de ingenieria en informatica. Voy ya en mi segundo año y estoy interesado por la ciberseguridad.</textarea>
            <!-- <input type="text" required spellcheck="false"
            value="Hola mi nombre es benjamin soy un estudiante de el instituto duoc uc que esta cursando la carrera de ingenieria en informatica. Voy ya en mi segundo año y estoy interesado por la ciberseguridad."> -->
            <label>descripcion</label>
          </div>

          <div class="buttons-groups">
            <button [routerLink]="['/perfil']" class="btn btn-duoc1">Salir</button>
            <button class="btn btn-duoc3"  type="submit" >Guardar</button>
          </div>
        </div>


      </form>

    </div>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">

    </ion-fab>

  </div>
</ion-content>